@font-face {
  font-family: "GlegooBanner";
  src: url("../fonts/Glegoo-Regular.woff2") format(woff2),
    url("../fonts/Glegoo-Regular.woff") format(woff),
    url("../fonts/Glegoo-Regular.ttf") format(truetype);
}

body {
  padding: 10px;
  margin: 0;
  background-color: #fff2f2;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  place-items: center center;
}

[class^="card"] {
  width: 80%;
  height: 400px;
  border: solid black;
  border-radius: 10px;
  margin: 10px auto;
}

/* Card-1 style */

div.card-1 {
  position: relative;
  background-color: #563a9c;
  padding-left: 2px;
}

div.card-1 h1,
div.card-1 p {
  text-align: center;
}

div.label {
  width: 100%;
  height: 10%;
  text-align: center;
  background-color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: height 0.3s ease;
  overflow: hidden;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-1 .label:hover {
  height: 80%;
}

/* Card-2 style */

div.card-2 {
  position: relative;
  background-color: #563a9c;
}

div.card-2 h1,
div.card-2 p {
  text-align: center;
}

div.label_2 {
  width: 10%;
  height: 100%;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: width 0.2s ease-out;
}

p.sticky-label {
  height: 100%;
  writing-mode: vertical-lr;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
}

div.label_2 p.sticky-content {
  width: 85%;
  overflow: hidden;
  white-space: wrap;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.2s linear 0.3s; /* Add delay to match width transition */
  text-align: left;
}

.card-2 .label_2:hover {
  width: 80%;
}

.card-2 .label_2:hover .sticky-content {
  visibility: visible;
  opacity: 1;
  /* transition-delay: 0s; Remove delay on hover */
}

.card-2 .label_2:not(:hover) .sticky-content {
  transition-delay: 0s, 0.2s; /* Immediate visibility change, delayed opacity change */
}
